.DS_Store

# ====> Sublime Text
# Sublime Text Project and Workspace Files
*.sublime-workspace
*.sublime-project

# ====> VS Code
# VS Code Config Files
.vscode/

# log files for monitoring or debugging
*.log

# ====> iOS Code
# OS X
.DS_Store
.idea
# Xcode
build/
*.pbxuser
xcuserdata/
*.xccheckout
